body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

a {
  color: orange;
}
a:hover {
  color: black;
}

header {
  padding: 20px 0;
}
@media screen and (min-width: 300px) {
  header img {
    width: 25px;
  }
  header .btn {
    display: block;
    border-radius: 3px;
    border: 1px solid #bdbdbd;
    background-color: #e9e9e9;
  }
  header nav {
    display: none;
  }
}
@media screen and (min-width: 750px) {
  header img {
    width: 40px;
  }
  header .btn {
    display: none;
  }
  header nav {
    display: block;
  }
  header nav a {
    font-size: 20px;
    color: #8c8999;
    margin-right: 30px;
  }
  header nav .home-color {
    color: #74bebc;
  }
}

#beautifulfood {
  background-color: #f4fafb;
}
#beautifulfood .box h1 {
  font-weight: 700;
  margin-right: 80px;
}
#beautifulfood .box span {
  color: #37b7c3;
}
#beautifulfood .box h5 {
  color: #676f8b;
  line-height: 1.3;
}
#beautifulfood .box .btn {
  border-radius: 5px;
  background-color: #38b6c1;
  color: white;
}
@media screen and (min-width: 300px) {
  #beautifulfood h1 {
    font-size: 58px;
  }
  #beautifulfood h5 {
    font-size: 15px;
    margin: 18px 0 40px;
  }
  #beautifulfood .btn {
    padding: 10px 20px;
    font-size: 15px;
  }
  #beautifulfood h4 {
    font-size: 15px;
    margin-top: 10px;
  }
  #beautifulfood .imgbox {
    width: 90px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 750px) {
  #beautifulfood h1 {
    font-size: 68px;
  }
  #beautifulfood h5 {
    font-size: 20px;
    margin: 25px 75px 50px 0;
  }
  #beautifulfood .btn {
    padding: 13px 30px;
    font-size: 20px;
  }
  #beautifulfood h4 {
    font-size: 20px;
  }
  #beautifulfood .imgbox {
    width: 120px;
    margin: 20px 0 10px;
  }
}

#freshproducts {
  background-color: #f1f8f9;
  padding: 50px 0;
}
#freshproducts .textbox h1 {
  color: #36b3bd;
  font-weight: 700;
  width: 400px;
}
#freshproducts .textbox h5 {
  color: #676f8b;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#freshproducts .textbox .btn {
  background-color: #38b6c1;
  color: white;
  border-radius: 5px;
}
@media screen and (min-width: 300px) {
  #freshproducts h1 {
    font-size: 40px;
  }
  #freshproducts h5 {
    font-size: 15px;
  }
  #freshproducts .btn {
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 10px;
  }
  #freshproducts img {
    width: 400px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 750px) {
  #freshproducts h1 {
    font-size: 60px;
  }
  #freshproducts h5 {
    font-size: 20px;
  }
  #freshproducts .btn {
    padding: 13px 30px;
    font-size: 20px;
  }
  #freshproducts img {
    width: 520px;
  }
}

#howitworks {
  padding: 50px 0;
}
#howitworks h1 {
  font-weight: 700;
  color: #36b3bd;
  margin-bottom: 60px;
}
#howitworks h2 {
  font-weight: 700;
}
#howitworks h4 {
  color: #676f8b;
  line-height: 1.3;
}
@media screen and (min-width: 300px) {
  #howitworks h1 {
    font-size: 40px;
  }
  #howitworks .imgbox {
    text-align: center;
  }
  #howitworks .imgbox img {
    width: 200px;
  }
  #howitworks .textbox {
    padding: 30px 50px;
  }
  #howitworks h2 {
    font-size: 20px;
  }
  #howitworks h4 {
    font-size: 18px;
  }
}
@media screen and (min-width: 750px) {
  #howitworks h1 {
    font-size: 60px;
  }
  #howitworks .imgbox img {
    width: 350px;
  }
  #howitworks .textbox {
    padding: 35px 55px;
  }
  #howitworks h2 {
    font-size: 25px;
    margin-bottom: 9px;
  }
  #howitworks h4 {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */