body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

a {
  color: orange;
}
a:hover {
  color: black;
}

header {
  padding: 20px 0;
}
@media screen and (min-width: 300px) {
  header img {
    width: 25px;
  }
  header .btn {
    display: block;
    border-radius: 3px;
    border: 1px solid #bdbdbd;
    background-color: #e9e9e9;
  }
  header nav {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  header img {
    width: 40px;
  }
  header .btn {
    display: none;
  }
  header nav {
    display: block;
  }
  header nav a {
    font-size: 20px;
    color: #8c8999;
    margin-right: 30px;
  }
  header nav .home-color {
    color: #74bebc;
  }
}

#beautifulfood {
  background-color: #f4fafb;
}
#beautifulfood .box h1 {
  font-size: 68px;
  font-weight: 700;
  margin-right: 80px;
}
#beautifulfood .box span {
  color: #37b7c3;
}
#beautifulfood .box h5 {
  font-size: 20px;
  margin: 25px 75px 50px 0;
  color: #676f8b;
  line-height: 1.3;
}
#beautifulfood .box .btn {
  border-radius: 5px;
  background-color: #38b6c1;
  color: white;
}
#beautifulfood .box h4 {
  font-size: 20px;
}
@media screen and (min-width: 300px) {
  #beautifulfood .box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #beautifulfood .box img {
    width: 90px;
    margin-bottom: 10px;
  }
  #beautifulfood .box .btn {
    padding: 10px 15px;
    font-size: 18px;
    width: 150px;
    margin-left: 70px;
  }
  #beautifulfood img {
    width: 400px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 800px) {
  #beautifulfood .box {
    display: flex;
    text-align: left;
  }
  #beautifulfood .box img {
    width: 120px;
    margin: 20px 0 10px;
  }
  #beautifulfood .box .btn {
    padding: 13px 30px;
    font-size: 20px;
    width: 200px;
    margin-left: 0;
  }
  #beautifulfood img {
    width: 520px;
  }
}

#freshproducts {
  background-color: #f1f8f9;
  padding: 50px 0;
}
#freshproducts .textbox h1 {
  color: #36b3bd;
  font-weight: 700;
  width: 400px;
}
#freshproducts .textbox h5 {
  color: #676f8b;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#freshproducts .textbox .btn {
  background-color: #38b6c1;
  color: white;
  border-radius: 5px;
}
@media screen and (min-width: 300px) {
  #freshproducts h1 {
    font-size: 40px;
  }
  #freshproducts h5 {
    font-size: 15px;
  }
  #freshproducts .btn {
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 10px;
  }
  #freshproducts img {
    width: 400px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 800px) {
  #freshproducts h1 {
    font-size: 60px;
  }
  #freshproducts h5 {
    font-size: 20px;
  }
  #freshproducts .btn {
    padding: 13px 30px;
    font-size: 20px;
  }
  #freshproducts img {
    width: 520px;
  }
}

#howitworks {
  padding: 50px 0;
}
#howitworks h1 {
  font-weight: 700;
  color: #36b3bd;
  margin-bottom: 60px;
}
#howitworks h2 {
  font-weight: 700;
}
#howitworks h4 {
  color: #676f8b;
  line-height: 1.3;
}
@media screen and (min-width: 300px) {
  #howitworks h1 {
    font-size: 40px;
  }
  #howitworks .imgbox {
    text-align: center;
  }
  #howitworks .imgbox img {
    width: 200px;
  }
  #howitworks .textbox {
    padding: 30px 50px;
  }
  #howitworks h2 {
    font-size: 20px;
  }
  #howitworks h4 {
    font-size: 18px;
  }
}
@media screen and (min-width: 800px) {
  #howitworks h1 {
    font-size: 60px;
  }
  #howitworks .imgbox img {
    width: 350px;
  }
  #howitworks .textbox {
    padding: 35px 55px;
  }
  #howitworks h2 {
    font-size: 25px;
    margin-bottom: 9px;
  }
  #howitworks h4 {
    font-size: 20px;
  }
}

#browse {
  background-color: #f1f8f9;
  padding: 50px 0;
}
#browse .textbox {
  width: 500px;
  text-align: center;
}
#browse .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #3cc1d8;
}
#browse .textbox h4 {
  font-size: 20px;
  color: #6c7480;
  margin: 10px 0;
  line-height: 1.2;
}
#browse .textbox h4 span {
  color: #3cc1d8;
  text-decoration-line: underline;
}
#browse .btnbox .btn {
  font-size: 18px;
  border: 0.5px solid #bdbdbd;
  padding: 15px 46px;
  margin: 10px 20px;
  border-radius: 5px;
}
#browse .btnbox .bgc {
  background-color: #3cc1d8;
  color: white;
}
#browse .box {
  background-color: white;
  padding: 30px;
}
#browse .box img {
  width: 150px;
  border-radius: 10px;
}
#browse .box .textbox .minibox h2 {
  font-size: 22px;
  font-weight: 700;
}
#browse .box .textbox .minibox h5 {
  color: #3cc1d8;
  font-size: 18px;
}
#browse .box .textbox p {
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(35, 47, 66, 0.5215686275);
}
#browse .box .textbox .add {
  display: flex;
}
#browse .box .textbox .add input {
  border: 1px solid #e1e1e1;
  background-color: #e9e9e9;
  width: 50px;
  margin-right: 20px;
}
#browse .box .textbox .add .btn {
  background-color: #3cc1d8;
  color: white;
  padding: 7px 20px;
}
#browse .big {
  background-color: #3cc1d8;
  color: white;
}
@media screen and (min-width: 300px) {
  #browse .btnbox {
    display: flex;
    flex-direction: column;
  }
  #browse .box {
    display: flex;
    flex-direction: column;
  }
  #browse .box .textbox {
    width: 300px;
    text-align: left;
    margin-top: 10px;
    line-height: 1.4;
    margin-left: 100px;
  }
  #browse .box .imgbox {
    margin-right: 10px;
  }
  #browse .big {
    padding: 12px 48px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 800px) {
  #browse .btnbox {
    display: flex;
    flex-direction: row;
  }
  #browse .box {
    display: flex;
    flex-direction: row;
  }
  #browse .box .textbox {
    width: auto;
    text-align: left;
    margin-left: 20px;
  }
  #browse .box .minibox {
    display: flex;
    justify-content: space-between;
  }
  #browse .big {
    padding: 17px 53px;
    margin-top: 50px;
  }
}

#order {
  padding: 50px 0;
}
#order .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: #36b3bd;
}
#order .textbox h5 {
  font-size: 20px;
  color: #676f8b;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#order .textbox .btn {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #38b6c1;
  border-radius: 5px;
}
@media screen and (min-width: 300px) {
  #order img {
    width: 300px;
  }
  #order .textbox {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #order .textbox .btn {
    font-size: 18px;
    padding: 8px 15px;
    margin-left: 70px;
  }
}
@media screen and (min-width: 800px) {
  #order img {
    width: 520px;
  }
  #order .textbox {
    display: flex;
    text-align: left;
  }
  #order .textbox .btn {
    font-size: 20px;
    padding: 10px 34px;
    margin-left: 0;
  }
}

#callour {
  padding: 50px 0;
  background-color: #f1f8f9;
}
#callour .textbox h1 {
  font-size: 65px;
  font-weight: 700;
  color: #36b3bd;
}
#callour .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#callour .textbox .btn {
  color: white;
  background-color: #38b6c1;
  width: 200px;
  height: 50px;
}
@media screen and (min-width: 300px) {
  #callour .textbox {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #callour .textbox .btn {
    font-size: 18px;
    padding: 8px 15px;
    margin-left: 70px;
  }
  #callour .imgbox {
    margin-top: 40px;
    width: 300px;
  }
}
@media screen and (min-width: 800px) {
  #callour .textbox {
    display: flex;
    text-align: left;
  }
  #callour .textbox .btn {
    font-size: 20px;
    padding: 10px 34px;
    margin-left: 0;
  }
  #callour .imgbox {
    width: 520px;
  }
}

#support {
  padding: 50px 0;
}
#support .textbox {
  padding-top: 90px;
}
#support .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin: 0 70px 0 40px;
  line-height: 1.1;
}
#support .textbox span {
  color: rgba(36, 102, 114, 0.5137254902);
}
#support .textbox .btn {
  font-size: 22px;
  color: #38b6c1;
  background-color: white;
  padding: 10px 30px;
  margin: 30px 0 0 40px;
}
#support .bgc {
  background-color: #35b6c1;
}
@media screen and (min-width: 300px) {
  #support .textbox {
    width: 550px;
    height: 400px;
  }
  #support .imgbox img {
    width: 550px;
    height: 400px;
  }
}
@media screen and (min-width: 800px) {
  #support .textbox {
    width: 630px;
    height: 500px;
  }
  #support .imgbox img {
    width: 630px;
    height: 500px;
  }
}/*# sourceMappingURL=style.css.map */